
@{
    ViewBag.Title = "PayForOrder";
}

<main>
    <div class="aside">
        @Html.Partial("PartialForUserOffice")
    </div>
    <article>
        <p>@ViewBag.OrderInfo</p>
    </article>
</main>

