<a href="/AdminOffice/CarsList">Изменить машины</a>
<br />
<a href="/AdminOffice/CreateCar">Создать машину</a>
<br />
<a href="/AdminOffice/UsersList">Список пользователей</a>
<br />
<a href="/Account/RegisterManager">Добавить менеджера</a>
<br />
<a href="/Account/Logout">Выйти</a>
