<a href="/ManagerOffice/UsersList">Список пользователей</a>
<br />
<a href="/ManagerOffice/OrderList">Список заказов</a>
<br />
<a href="/ManagerOffice/CarList">Список машин</a>
<br />
<a href="/ManagerOffice/CleanOldOrders">Очистить старые заказы</a>
<br />
<a href="/Account/Logout">Выйти</a>
