@{
    ViewBag.Title = "Подтверждение почты";
}

<main>
    <div class="cover">
        <div class="Login">
            <p>
                Благодарим за подтверждение электронной почты.
            </p>
        </div>
    </div>
</main>