@{
    ViewBag.Title = "Завершение регистрации";
}

<main>
    <div class="cover">
        <div class="Login">
            <p>На указанный электронный адрес отправлены дальнейшие инструкции по завершению регистрации</p>
        </div>
    </div>
</main>
