
@{
    ViewBag.Title = "Подтверждение пароля";
}

<main>
    <div class="cover">
        <div class="Login">
            <p>
                Проверьте электронную почту, чтобы сбросить пароль.
            </p>
        </div>
    </div>
</main>